table {
  border: .01em solid black;
  width: 60%;
  height: 80%;
  background-color: yellow;
}

td {
  border: 0.01em solid black;
  border-radius: 200px 200px 200px 200px;
  background-color: white;
}

body {
  height: 100vh;
  width: 100vw;
}
